html,
body,
header,
.view {
  height: 100% !important;
}

li.nav-item {
    margin: 1rem ;
    border: solid gainsboro 1px ;
    border-radius: 2rem ;
    padding: 0vh 2vh ;
}
  .invert {
    filter: invert(100%) !important; 
  }

  nav {
    background-color: #00000038 !important;
}

.dropdown-menu.show {
  text-align: center !important;
  min-width: -webkit-fill-available !important;
  border: none !important;
  border-radius: 0.25rem !important;
}