html,
body {
  height: 100% !important
}


li.nav-item {
    margin-left: 1rem !important;
    border: solid gainsboro 1px !important;
    border-radius: 2rem !important;
    padding: 0vh 2vh !important;
}

.bg { 
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(4).jpg") !important;
  
    /* Full height */
    height: 100% !important; 
  
    /* Center and scale the image nicely */
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
