* {
    padding: 0;
    margin: 0;
}

li.nav-item {
  margin: 1rem ;
  border: solid gainsboro 1px ;
  border-radius: 2rem ;
  padding: 0vh 2vh ;
  text-align: center;
}
.invert {
  filter: invert(100%) !important; 
}

nav {
  background-color: #00000038 !important;
}

.dropdown-menu.show {
text-align: center !important;
min-width: -webkit-fill-available !important;
border: none !important;
border-radius: 0.25rem !important;
}

div#content {
  display:flex;
  flex-direction: row;
}

div#map {
  height: 100vh;
  width: 100%;
}
div#leaflet-map-main {
  width: 100%;
  height: 100%;
}

.leaflet-top {
  top: 10% !important;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
  }


 
