* {
    padding: 0;
    margin: 0;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000ec;
  z-index: 4444;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.nav-item {
  margin: 1rem ;
  border: solid gainsboro 1px ;
  border-radius: 2rem ;
  padding: 0vh 2vh ;
  text-align: center;
}
.invert {
  filter: invert(100%) !important; 
}

nav {
  background-color: #00000038 !important;
}

.dropdown-menu.show {
text-align: center !important;
min-width: -webkit-fill-available !important;
border: none !important;
border-radius: 0.25rem !important;
}

div#content {
  display:flex;
  flex-direction: row;
}

div#map {
  height: 100vh;
  width: 100%;
}
div#leaflet-map-main {
  width: 100%;
  height: 100%;
}

.leaflet-top {
  top: 45% !important;
  
}

.info-stats {
  position: absolute;
  z-index: 1000;
  pointer-events: none;
  bottom: 5%;
  color: #b9b9b9;
  font-weight: 800;
  font-size: small;
  right: 0;
  background-color: #0000004d;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 40vh;
}

.info-stats div {
  margin-left: 4rem;
}

.info-stats p{
  margin: 2vh;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
  }


 
